{{!-- NO USER --}}
<div class="row">
    <div class="col s12 m12">
        <div class="wrapper-404">
            <h2><b>404</b></h2>
            <h4 class="grey-text lighten-1">Page not found, Try again 😎</h4>
            <br/>
            <img class="center img" src="/img/404.svg" width="30%" alt="">
        </div>
    </div>
</div>